# put here your custom config value
menu "Main Project Configuration"
config WIFI_SSID
    string "WiFi SSID"
    help
	SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    help
	WiFi password (WPA or WPA2) for the example to use.

config MQTT_BROKER_ADDRESS
    string "Mqtt Broker Address"
    help
	Mqtt broker ip or dns name including 'Mqtt://' schema.

config MQTT_COMMAND_TOPIC
    string "Command topic name"
    help
	Mqtt topic the commands are listened on.

endmenu
